.site-header {
    display: grid;
    height: min-content;
    grid-template-columns: repeat(3,1fr);
}

.site-header__padding {
    padding: 1rem;
}

.site-header__left {
    display: flex;
    justify-content: flex-start;
}

.site-header__center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.site-header__right {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: inherit;
}

.siteheader {
    background-color: var(--neutral-layer-4) !important;
    /*border-bottom: calc(var(--stroke-width) * 2px) solid var(--accent-fill-rest);*/
    margin-bottom: 0 !important;
}

    .siteheader .logo {
        width: 108px;
        height: 23px;
        grid-column: 1;
    }

    .siteheader .search {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    .siteheader .links {
        padding-right: 10px;
        display: flex;
        align-items: center;
    }

    .siteheader .notifications {
        display: flex;
        align-items: center;
    }

    .siteheader .settings {
        padding-right: 6px;
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-right: 10px;
    }

#navmenu-toggle {
    display: none;
}

.navmenu-icon {
    display: none;
}

#navmenu-toggle:checked > nav {
    width: 0px;
}

[dir="rtl"] #navmenu-toggle:checked ~ nav {
    right: 0px;
}

@media (max-width: 767px) {
    body {
        color: lime;
    }

    #navmenu-toggle {
        display: block;
    }

    .navmenu-icon {
        display: block;
    }

    #navmenu-toggle {
        appearance: none;
    }

        #navmenu-toggle ~ nav {
            display: none;
        }

        #navmenu-toggle:checked ~ nav {
            display: block;
        }

        #navmenu-toggle ~ article {
            display: block;
        }

        #navmenu-toggle:checked ~ article {
            display: none;
        }
}
